<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ isEditMode ? 'Editar Lote' : 'Nuevo Lote' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loteForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-input
          label="Nombre"
          labelPlacement="floating"
          type="text"
          formControlName="nombre"
          placeholder="Nombre del lote">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-select
          label="Fundo"
          labelPlacement="floating"
          formControlName="fundo_id"
          interface="action-sheet"
          placeholder="Seleccione un fundo">
          <ion-select-option *ngFor="let fundo of fundos" [value]="fundo.id">
            {{ fundo.nombre }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-toggle formControlName="activo">Activo</ion-toggle>
      </ion-item>
    </ion-list>

    <div class="button-container">
      <ion-button expand="block" type="submit" [disabled]="loteForm.invalid">
        <ion-icon slot="start" name="save-outline"></ion-icon>
        {{ isEditMode ? 'Actualizar' : 'Guardar' }}
      </ion-button>
    </div>
  </form>
</ion-content>
